In [1]:
#Import dependencies
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
#Importing more dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
#Python SQL toolkit and Object Relation Mapper (ORM)
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
#Createing engine to hawaii.sqlite
engine = create_engine("sqlite:///Data/hawaii.sqlite")

In [5]:
#reflect an existing database into a new model
Base = automap_base()

#reflect the tables
Base.prepare(engine, reflect = True)

In [6]:
#view the classes that have been found
Base.classes.keys()

['measurement', 'station']

In [7]:
#creating references to each table
Measurement = Base.classes.measurement

Station = Base.classes.station

In [8]:
#create the session link from Python to DB
Session = Session(engine)

# Exploratory Precipition Analysis

In [9]:
#Find the most recent date set
Session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23',)

In [11]:
#create a query to find the last 12 months of precipitation data and plot the results

#start at the most recent data point in the db
latest_date = (dt.date(2017,8,23))


#calculate the date one year from the last date
year_ago = dt.date(2017,8,23)- dt.timedelta(days=365)

#peforme a query to retrieve data and precipitation scores
rain_data = Session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= year_ago).all()


#save queery results as pd df and set index to date column
precipitation_df= pd.DataFrame(rain_data)
precipitation_df.rename(columns={'date':'Date', 'prcp': 'Precipitation (Inches)'})
#precipitation_df.set_index('Date')

#sort the dataframe by date


#use pd plotting with matplotlib to plot data

            Date  Precipitation (Inches)
0     2016-08-23                    0.00
1     2016-08-24                    0.08
2     2016-08-25                    0.08
3     2016-08-26                    0.00
4     2016-08-27                    0.00
...          ...                     ...
2225  2017-08-19                    0.09
2226  2017-08-20                     NaN
2227  2017-08-21                    0.56
2228  2017-08-22                    0.50
2229  2017-08-23                    0.45

[2230 rows x 2 columns]